[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django-crispy-forms = "==1.8.1"
django-allauth = "==0.41.0"
Django = "==3.0.1"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
